<div class="container">
  <div class="jumbotron jumbotron-b">
    <div class="row">
      <div class="menubar"><%= render_navigation( expand_all: true) %></div>
    </div>
    <h1><% provide(:title, @user.username) %></h1>
    <section>
      <div class="row">
            <div class="user_info">
                <%= gravatar_for @user %>
                <div class="table-responsive">
                    <table class="table table-striped">
                            <tr>
                              <th>First name: </th>
                              <td><%= @user.first_name %></td>
                            </tr>
                            <tr>
                              <th>Last name: </th>
                              <td><%= @user.last_name %></td>
                            </tr>
                            <tr>
                              <th>Email: </th>
                              <td><%= @user.email %></td>
                            </tr>
                            <tr>
                              <th>Account created at: </th>
                              <td><%= @user.created_at %></td>
                            </tr>
                    </table>
                </div>
            </div>
      </div>
    </section>
  </div>
</div>