<% provide(:title, @user.username) %>
<section>
  <div class="row">
    <div class="menubar"><%= render_navigation( expand_all: true) %></div>
    <div class="user_info pull-right">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </div>
  </div>
  <div class="row">
    <aside class="col-md-4">
      <h1>Propiedades Registradas</h1>
      <table>
        <tr>
          <th># Seq.</th>
          <th>Dirección</th>
        </tr>
        <% @properties.each_with_index do |property, index| %>
          <tr>
          <td><%= index+1 %></td>
          <td><%= property.address %></td>
          <% unless property.latitude.nil? && property.longitude.nil? %>
            <td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=200x200&sensor=false&zoom=16&markers=#{property.latitude}%2C#{property.longitude}" %>
          <%end%>
      </td>
        </tr>
      <% end %>
      </table>
    </aside>
  </div>
</section>
