<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom center">
    <div class="container center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                </li>
                <li>
                    <%= link_to "Home",   root_path %>
                </li>
                <li>
                    <%= link_to "Buscar Propiedades",   properties_show_all_path %>
                </li>
                <% if current_user %>
                <li class="logged">
                    Logged in as
                </li>
                <li>
                    <%= link_to "#{current_user.email}", user_path(current_user.id) %>
                </li>
                <%else%>
                <li>
                    <%= link_to "Regístrarse",   new_user_path %>
                </li>
                <li>
                    <%= link_to "iniciar sesión", :login %>
                </li>
                <%end%>
                <li>
                    <%= link_to "Help",   '#' %>
                </li>
                <% if current_user %>
                <li>
                    <%= link_to "salir", :logout, method: :post %>
                </li>
                <%end%>
            </ul>
        </div>
    </div>
</nav>