<!DOCTYPE html>
<html>
  <head>
    <title> Real State Web Home Page</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <%= render 'layouts/header' %>
      <%= render partial: "layouts/flash_messages", flash: flash %>  
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>
